<section>
	<!-- PROFILE PAGESLIDE -->
  <pageslide class="left-side" ps-side="left" ps-squeeze="true" ps-open="ProfileSlide">
    <div class="sidebar-slide">
    	<h2>Username: {{memberProfile.username}}</h2>
    	<div ng-if="!editMode">
	    	<button class="btn cloud-right" ng-click="toggleEditMode()">Edit Profile</button>
	    	<p>Zip: {{memberProfile.zip}}</p>
	    	<p>Favorite Color: {{memberProfile.colorFave}}</p>
	    	<p>Favorite Hobby: {{memberProfile.hobby}}</p>
	    	<p ng-if="memberProfile.gender">Gender: {{memberProfile.gender}}</p>
	    	<p ng-if="memberProfile.days">Birthday: {{memberProfile.months}} / {{memberProfile.days}}</p>
	    	<p ng-if="memberProfile.fcode">3DS Friendcode: {{memberProfile.fcode}}</p>
	    	<div ng-if="memberProfile.myGames">
		    	StreetPass Games:
		    	<ul>
		    		<li ng-repeat="game in memberProfile.myGames">{{game}}</li>
		    	</ul>
	    	</div>
	    	<div ng-if="memberProfile.records">
		    	3DS Achievements:
		    	<ul>
		    		<li ng-repeat="record in memberProfile.records">{{record}}</li>
		    	</ul>
	    	</div>
    	</div>
    	<div ng-if="editMode">
	    	<button class="btn cloud-right" ng-click="toggleEditMode()">Save Changes</button>

	    	<input id="zip-edit-input" type="text" placeholder="Enter Zipcode" ng-model="memberProfile.zip" required>

	    	<select class="edit-profile-select" ng-model="memberProfile.colorFave" ng-options="color for color in colorArray"></select>

	    	<select class="edit-profile-select" ng-model="memberProfile.hobby" ng-options="hobby for hobby in hobbyArray"></select>
    	  <label>

			    <input type="radio" ng-model="memberProfile.gender" value="Female">
			    Female
			  </label>
			  <label>
			    <input type="radio" ng-model="memberProfile.gender" value="Male">
			    Male
			  </label>

			  <span class="profile-span">Birthday: 
			  	<select ng-model="memberProfile.months" ng-options="month for month in monthArray"></select> / <select ng-model="memberProfile.days" ng-options="day for day in dayArray"></select>
			  </span>

	    	<input id="edit-friendcode" type="text" placeholder="Enter Friendcode" ng-model="memberProfile.fcode">

	    	<span class="profile-span">Which StreetPass Games do you play?</span>
	    	<label ng-repeat="games in gameArray">
				  <input type="checkbox" checklist-model="memberProfile.myGames" checklist-value="games"> {{games}}
				</label>

				<!-- This will need to be remade as a modal instead -->
<!-- 	    	What 3DS Achievements have you unlocked?
	    	<label>THERE ARE SO MANY:
			    <input type="checkbox" ng-model="memberProfile.records.thing">
			  </label>
			  <label>OH MY:
			    <input type="checkbox" ng-model="memberProfile.records.that">
			  </label> -->
    	</div>
    </div>
  </pageslide>

	<!-- MESSAGES PAGESLIDE -->
  <pageslide class="right-side" ps-squeeze="true" ps-open="messageSlide">
    <div class="sidebar-slide">
        <h2>Messages:</h2>
        	<label class="message-select">
        		Send a Message to: 
        		<select ng-model="sendTo" ng-options="member.username for member in allUsers | filter:searchBy()"></select>
        	</label>

        	<div class="message-select" ng-show="sendTo">        			
	        	<input id="message-input" type="text" placeholder="Type your message here!" ng-model="messageToSend">
	        	<button class="btn" ng-click="sendMessage()" >Send</button>
        	</div>

        <!-- Display current messages -->
        <div class="each-message" ng-repeat="mess in memberProfile.messages">
        	<span class="message-from">{{mess.from}}: </span>{{mess.message}}
        </div>
    </div>
  </pageslide>

	<!-- FRIENDS and OTHERS Section below map -->
	<section ng-if="friendDash===true" id="all-friends">
		<h2>Other Players</h2>
		<div class="friends-blocks">
			<button class="btn" ng-click="showFriends()">Friends</button>
			<button class="btn" ng-click="showAll()">All Users</button>
		</div>
		<div ng-show="friends==='current'" class="current-friends">
			<div class="other-members" ng-repeat="member in allUsers | filter:searchBy()">
				<div class="add-friend-div">
					<h3>{{member.username}}</h3>
					<div class="other-right">
			    	<p><span>Zip:</span> {{member.zip}}</p>
			    	<p ng-if="member.fcode"><span>3DS Friendcode:</span> {{member.fcode}}</p>
					</div>
				</div>
				<div class="add-friend-div">
		    	<p><span>Favorite Color:</span> {{member.colorFave}}</p>
		    	<p><span>Favorite Hobby:</span> {{member.hobby}}</p>
		    	<p ng-if="member.gender"><span>Gender:</span> {{member.gender}}</p>
		    	<p ng-if="member.months"><span>Birthday:</span> {{member.months}} / {{member.days}}</p>
				</div>
	    	<div ng-if="member.myGames" class="add-friend-div">
		    	<span>StreetPass Games:</span>
		    	<ul>
		    		<li ng-repeat="game in member.myGames">{{game}}</li>
		    	</ul>
	    	</div>
			</div>
		</div>
		<div ng-show="friends==='find'" id="find-friends">
			<div class="other-members" ng-repeat="member in allUsers | filter:notFriends()">
				<button class="btn btn-addfriend" ng-click="addFriend(member)">Friend+</button>
				<div class="add-friend-div">
					<h3>{{member.username}}</h3>
					<div class="other-right">
			    	<p><span>Zip:</span> {{member.zip}}</p>
			    	<p ng-if="member.fcode"><span>3DS Friendcode:</span> {{member.fcode}}</p>
					</div>
				</div>
				<div class="add-friend-div">
		    	<p><span>Favorite Color:</span> {{member.colorFave}}</p>
		    	<p><span>Favorite Hobby:</span> {{member.hobby}}</p>
		    	<p ng-if="member.gender"><span>Gender:</span> {{member.gender}}</p>
		    	<p ng-if="member.months"><span>Birthday:</span> {{member.months}} / {{member.days}}</p>
				</div>
	    	<div ng-if="member.myGames" class="add-friend-div">
		    	<span>StreetPass Games:</span>
		    	<ul>
		    		<li ng-repeat="game in member.myGames">{{game}}</li>
		    	</ul>
	    	</div>
			</div>
		</div> <!-- End of find friends section -->
		
		<div class="friends-blocks">
			<button class="btn secret">You Found the Secret!</button>
		</div>
	</section>
</section>