<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>StreetPass Relay Radar</title>
  <link rel="stylesheet" type="text/css" href="lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="lib/bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>


<body ng-app="RelayRadar">

  <!-- Navigation Header at Top-->
  <nav class="navbar navbar-default navbar-fixed-top" ng-controller="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Relay Radar</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-click="loginModal()">Login</li>
          <li ng-click="whatIsThis()">What is This?</li>
          <li ng-click="whatIsThis()">Why Log In?</li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="content" class="container-fluid" class="angular-google-map-container">

    <!-- <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map> -->

    <div id="map_canvas" ng-controller="mapController">

      <div>
          <input id="from" type="text" ng-model="matfrom" placeholder="Type Address" class="ng-pristine ng-valid">
  <!--         <input type="hidden" ng-model="user.fromLat">
          <input type="hidden" ng-model="user.fromLng">
              <p>{{user.from}} <br> {{'Latitude : ' + user.fromLat + ', Longitutde : ' + user.fromLng}}</p> -->
      </div>
      <script type="text/ng-template" id="searchbox.tpl.html">
          <input type="text" placeholder="Search Box">
      </script>
        <ui-gmap-google-map  
          center="map.center" 
          zoom="map.zoom" 
          draggable="true" 
          options="options"
          events="map.events">

          <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idKey="m.id"></ui-gmap-marker>

        </ui-gmap-google-map>

      <div>
        <button ng-click="toggleAddMode()">Add a Relay</button> 
      </div>
    </div>

    <!--  <input id="pac-input" class="controls" type="text" placeholder="Search for a location" ng-model="model.searchAddress" />

    <div ui-map="model.locationMap" ui-options="mapOptions" id="map_canvas" class="map"
    style="height: 420px; width: 420px;" ui-event="{'map-click': 'setMarker($event, $params)'}"></div> -->
    
    <div ng-view></div>
      
  </div>


  <script src='lib/bower_components/lodash/lodash.min.js'></script>
  <script src='lib/bower_components/angular/angular.js'></script>
  <script src='lib/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
  <script src='lib/bower_components/angular-google-maps/dist/angular-google-maps.min.js'></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places"></script>
  <script src="lib/bower_components/angular-route/angular-route.js"></script>
  <script src="lib/bower_components/firebase/firebase.js"></script>
  <script src="lib/bower_components/angularfire/dist/angularfire.min.js"></script>
  <script src="lib/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="app/app.js"></script>
  <!-- Factories go here -->
  <script src="app/factories/authFactory.js"></script>
  <script src="app/factories/fireFactory.js"></script>
  <!-- Controllers go here -->
  <script src="app/controllers/mapController.js"></script>
  <script src="app/controllers/navigation.js"></script>
</body>
</html>