<section id="what">
	<div class="highlight">
		<h2>What is all of this?</h2>
		<h4>This is a companion site for the Nintendo 3DS to facilitate the StreetPass functionality and find NintendoZones (StreetPass Relays).</h4>
	</div>
	<article class="questions" class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<span>Q. What is a Nintendo 3DS?</span> A. The Nintendo 3DS, as well as the New Nintendo 3DS and the Nintendo 2DS, are a series of handheld gaming devices developed by Nintendo.
			</div>
			<div class="col-md-4">
				<span>Q. What is a StreetPass?</span> A. StreetPass is a connectivity feature of the Nintendo 3DS system family. When you get within range of another person who has their system in sleep mode and wireless connectivity enabled, then you'll exchange tags and game data automatically. This is called a StreetPass Tag
			</div>
			<div class="col-md-4">
				<span>Where does this site come in?</span> A. While StreetPass Relays are numerous, their locations are not always known. This site uses user generated data to help locate and provide info about known relays and allow for communication between players who wish to coordinate gaming features or events.
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<span>What does a StreetPass Tag do for you?</span> A. It enables you to meet the Mii (the created avatar) of the person you've tagged as well as whatever information they choose to share about themselves. You can then use this Mii as a playable character and interact with them in a number of built in games for the Mii Plaza. In addition, a number of Nintendo's best selling games have bonuses or perks that only happen when you Streetpass Tag people. Allowing for new items, locations, or levels to be obtained in games like Fire Emblem, Pokemon, Mario, and many others.
			</div>
			<div class="col-md-4">
				<span>What are StreetPass Relays?</span> A. Though StreetPasses were designed with the idea of tagging people in person, StreetPass Relays are static or fixed locations that allow users to store their data and tag people even if they aren't physically present. When you enter a StreetPass Relay your data is stored at that location and you pick up the data from up to 6 people who visited since the last time you were at that particular relay.
			</div>
			<div class="col-md-4">
				<span>Why were the StreetPass Relays made?</span> A. StreetPass Relays are typically businesses with publicly available wifi that meet certain provisions in order to communicate with Nintendo's servers. The Relays were made as a way of drawing more people into these businesses and to facilitate the ease of obtaining StreetPass Tags for the players. Population density and the ubiquity of the 3DS devices in Japan makes for easy StreetPassing, but a catalyst was needed in the United States to make the most of these features for the games.
			</div>
		</div>
	</article>
</section>
<section id="why-log-in">
	<article class="questions highlight">
		<h2>Why should I log in?</h2>
		<h4>While you can still see all currently posted Relays without logging in, signing up and logging in offers the ability to post new Relays you find and coordinate with others for the optimum 3DS gaming experience!</h4>
		<div>
			<span>What are the benefits of logging in?</span>
			<ul>
				<li>You gain the ability to add relay locations to the map.</li>
				<li>You are given an individual profile with optional information you can share and let others know about.</li>
				<li>You are able to find and message other members for gaming, community, and coordination reasons.</li>
				<!-- <li>You gain the ability to save a list of your favorite relay locations.</li> -->
				<!-- <li>You are able to check-in and let people know you are at a particular relay.</li> -->
			</ul>
		<p><span>This is a user driven community with a welcome atmosphere dedicated to making your Nintendo 3DS gaming experience even better!</span></p>
	</article>
</section>