<section id="what-is-this">
	<h2>What is all of this?</h2>
	<article>
		<h4>This is a companion site for the Nintendo 3DS to facilitate the StreetPass functionality and find StreetPass Relays</h4>
		<p>
			What is a streetpass. What is a nintendo 3ds? What does Streetpass do for you? What are streetpass relays? why were the streetpass relays made?
		</p>
	</article>
</section>
<section id="why-log-in">
	<h2>Why should I log in?</h2>
	<p>
		What are the benefits of loggin in? Ability to add relay locations. Ability to save your favorite relay locations. ability to checkin and let people know you are at a particular relay. an individual profile with optional information you can share. ability to find and message other members for gaming and coordination reasons.
	</p>
</section>