<section id="what">
	<h2>What is all of this?</h2>
	<article class="questions">
		<h4>This is a companion site for the Nintendo 3DS to facilitate the StreetPass functionality and find NintendoZones (StreetPass Relays).</h4>
		<p><span>Q. What is a Nintendo 3DS?</span> A. The Nintendo 3DS, as well as the New Nintendo 3DS and the Nintendo 2DS, are a series of handheld gaming devices developed by Nintendo.</p>
		<p><span>What is a StreetPass.</span></p>
		<p><span>What does StreetPass do for you?</span></p>
		<p><span>What are StreetPass Relays?</span></p>
		<p><span>Why were the StreetPass Relays made?</span></p>
		<p><span>Where does this site come in?</span></p>
	</article>
</section>
<section id="why-log-in">
	<article class="questions">
		<h2>Why should I log in?</h2>
		<h4>While you can still see all currently posted Relays without logging in, signing up and loggin in offers the ability to post new Relays you find and coordinate with others for the optimum 3DS gaming experience!</h4>
		<p><span>What are the benefits of loggin in? Ability to add relay locations.</span></p>
		<p><span>Ability to save your favorite relay locations.</span></p>
		<p><span>ability to checkin and let people know you are at a particular relay.</span></p>
		<p><span>an individual profile with optional information you can share.</span></p>
		<p><span>Ability to find and message other members for gaming and coordination reasons.</span></p>
	</article>
</section>