<div id="loginContent">


	<!-- User inputs email/password for login/register -->
	<img src="../app/images/SignupPipe.gif" ng-click="signUp()">
	<input class="middle form-control" type="text" id="email" placeholder="Enter Email" autofocus ng-model="user.email">
	<input class="middle form-control" type="password" id="password" placeholder="Enter Password" ng-model="user.password">


	<!-- Chooses to login or signup, if correct, loads .main-page -->
	<div id="loginButtons">
	  <!-- Login -->
	  <button class="btn btn-primary" id="login" ng-click="loginUser()">Login</button>

	  <!-- Signup -->
	  <!-- <button class="btn btn-default" id="signupButton" >Sign Up</button> -->

	  <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>

	</div>

</div>