<div class="loginContent">


	<!-- Signup -->
	<img src="../app/images/SignupPipe.gif" id="signupButton" ng-click="signUp()">

	<!-- User inputs email/password for login -->
	<input class="middle form-control" type="text" id="email" placeholder="Enter Email" autofocus ng-model="user.email">
	<input class="middle form-control" type="password" id="password" placeholder="Enter Password" ng-model="user.password">

	<div class="controlButtons">
	  <!-- Login -->
	  <button class="btn btn-primary" id="login" ng-click="loginUser()">Login</button>

	  <!-- Cancel -->
	  <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>

	</div>

</div>