<section>

  <pageslide ps-side="left" ps-squeeze="true" ps-open="ProfileSlide">
    <div class="sidebar-slide">
    	<h2>Username: {{memberProfile.username}}</h2>
    	<div ng-if="!editMode">
	    	<button class="btn" ng-click="toggleEditMode()">Update Profile?</button>
	    	<p>Zip: {{memberProfile.zip}}</p>
	    	<p>Favorite Color: {{memberProfile.colorFave}}</p>
	    	<p>Favorite Hobby: {{memberProfile.hobby}}</p>
	    	<p>Gender: {{memberProfile.gender}}</p>
	    	<p>Birthday: {{memberProfile.months}} / {{memberProfile.days}}</p>
	    	<p>3DS Friendcode: {{memberProfile.fcode}}</p>
	    	<div>
		    	StreetPass Games:
		    	<ul>
		    		<li ng-repeat="game in memberProfile.myGames">{{game}}</li>
		    	</ul>
	    	</div>
	    	<div>
		    	3DS Achievements:
		    	<ul>
		    		<li ng-repeat="record in memberProfile.records">{{record}}</li>
		    	</ul>
	    	</div>
    	</div>
    	<div ng-if="editMode">
	    	<button class="btn" ng-click="toggleEditMode()">Save Changes</button>

	    	<input  type="text" placeholder="Enter Zipcode" ng-model="memberProfile.zip" required>

	    	<select ng-model="memberProfile.colorFave" ng-options="color for color in colorArray"></select>

	    	<select ng-model="memberProfile.hobby" ng-options="hobby for hobby in hobbyArray"></select>
    	  <label>

			    <input type="radio" ng-model="memberProfile.gender" value="Female">
			    Female
			  </label>
			  <label>
			    <input type="radio" ng-model="memberProfile.gender" value="Male">
			    Male
			  </label>

			  Birthday: <select ng-model="memberProfile.months" ng-options="month for month in monthArray"></select> / <select ng-model="memberProfile.days" ng-options="day for day in dayArray"></select> 

	    	<input  type="text" placeholder="Enter Friendcode" ng-model="memberProfile.fcode">

	    	Which StreetPass Games do you play?
	    	<label ng-repeat="games in gameArray">
				  <input type="checkbox" checklist-model="memberProfile.myGames" checklist-value="games"> {{games}}
				</label>

	    	What 3DS Achievements have you unlocked?
	    	<label>THERE ARE SO MANY:
			    <input type="checkbox" ng-model="memberProfile.records.thing">
			  </label>
			  <label>OH MY:
			    <input type="checkbox" ng-model="memberProfile.records.that">
			  </label>
    	</div>
    </div>
  </pageslide>

  <pageslide ps-squeeze="true" ps-open="messageSlide">
    <div class="sidebar-slide">
        <h2>Messages:</h2>
        <div ng-repeat="(from, content) in memberProfile.messages" class="message-body">
        	<span class="message-from">{{from}}: </span>{{content}}
        </div>
    </div>
  </pageslide>

	<section>
		<h2>Friends</h2>
		<div>
			<button class="btn">Sort</button>
			<button class="btn">Pending</button>
			<button class="btn">New</button>
		</div>
		<div id="current-friends">
			This will be the list of confirmed friends
		</div>
		<div id="pending-friends">
			This will be pending friends
			
		</div>
		<div id="find-friends">
			<div ng-repeat="member in allUsers">
				<button class="btn" ng-click="addFriend(member)">Add?</button>
				<h4>Username: {{member.username}}</h4>
	    	<p>Zip: {{member.zip}}</p>
	    	<p>Favorite Color: {{member.colorFave}}</p>
	    	<p>Favorite Hobby: {{member.hobby}}</p>
	    	<p>Gender: {{member.gender}}</p>
	    	<p>Birthday: {{member.months}} / {{member.days}}</p>
	    	<p>3DS Friendcode: {{member.fcode}}</p>
	    	<div>
		    	StreetPass Games:
		    	<ul>
		    		<li ng-repeat="game in member.myGames">{{game}}</li>
		    	</ul>
	    	</div>
			</div>
		</div> <!-- End of find friends section -->
	</section>
</section>