<section>

  <pageslide ps-side="left" ps-squeeze="true" ps-open="ProfileSlide">
    <div class="sidebar-slide">
    	<h2>Username: {{memberProfile.username}}</h2>
    	<div ng-if="!editMode">
	    	<button class="btn" ng-click="toggleEditMode()">Update Profile?</button>
	    	<p>Zip: {{memberProfile.zip}}</p>
	    	<p>Favorite Color: {{memberProfile.colorFave}}</p>
	    	<p>Favorite Hobby: {{memberProfile.hobby}}</p>
	    	<p>Gender: {{memberProfile.gender}}</p>
	    	<p>Birthday: {{memberProfile.bday}}</p>
	    	<p>3DS Friendcode: {{memberProfile.fcode}}</p>
	    	<div>
		    	StreetPass Games:
		    	<ul>
		    		<li ng-repeat="game in memberProfile.games">{{game}}</li>
		    	</ul>
	    	</div>
	    	<div>
		    	3DS Achievements:
		    	<ul>
		    		<li ng-repeat="record in memberProfile.records">{{record}}</li>
		    	</ul>
	    	</div>
    	</div>
    	<div ng-if="editMode">
	    	<button class="btn" ng-click="toggleEditMode()">Save Changes</button>

	    	<input  type="text" placeholder="Enter Zipcode" ng-model="editProfileInfo.zip" required>

	    	<select ng-model="favoriteColor" ng-options="eachColor.color for eachColor in colorArray"></select>

	    	<select ng-model="favoriteHobby" ng-options="eachHobby.hobby for eachHobby in hobbyArray"></select>
    	  <label>

			    <input type="radio" ng-model="editProfileInfo.gender" value="Female">
			    Female
			  </label>
			  <label>
			    <input type="radio" ng-model="editProfileInfo.gender" value="Male">
			    Male
			  </label>

	    	<input  type="text" placeholder="Enter Friendcode" ng-model="editProfileInfo.fcode">

	    	Which Mii Plaza Games do you play?
	    	<label>Find Mii:
			    <input type="checkbox" ng-model="editProfileInfo.games.findMii">
			  </label>
			  <label>Puzzle Swap:
			    <input type="checkbox" ng-model="editProfileInfo.games.puzzleSwap">
			  </label>

	    	What 3DS Achievements have you unlocked?
	    	<label>THERE ARE SO MANY:
			    <input type="checkbox" ng-model="editProfileInfo.records.thing">
			  </label>
			  <label>OH MY:
			    <input type="checkbox" ng-model="editProfileInfo.records.that">
			  </label>
    	</div>
    </div>
  </pageslide>

  <pageslide ps-squeeze="true" ps-open="messageSlide">
    <div class="sidebar-slide">
        <h2>Messages:</h2>
        <div ng-repeat="(from, content) in memberProfile.messages" class="message-body">
        	<span class="message-from">{{from}}: </span>{{content}}
        </div>
    </div>
  </pageslide>

YOU ARE NOW LOGGED IN, YAY!
</section>