<div>
	<form name="signUpForm">
		<input class="form-control" type="text" placeholder="Enter Username" autofocus ng-model="user.username" required>

		<input class="form-control" type="text" id="email" placeholder="Enter Email" ng-model="user.email" required>

		<input class="form-control" type="password" id="password" placeholder="Enter Password" ng-model="user.password" required>

		<input class="form-control" type="text" id="zip" placeholder="Enter Zipcode" ng-model="user.zip" required>

	  <label for="colorFave"> Select Favorite Color: </label>
	    <select ng-model="favoriteColor" ng-options="color for color in colorArray"></select>

	  <label for="hobby"> Select Favorite Hobby: </label>
		  <select ng-model="favoriteHobby" ng-options="hobby for hobby in hobbyArray"></select>
	</form>


	<div>
	  <!-- Signup -->
	  <button class="btn btn-primary" type="button" id="ready-go" ng-click="submitSignUp()" ng-disabled="signUpForm.$invalid">Complete Sign Up</button>

	  <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>

	</div>

</div>