html, body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  height: 100%;
  background-color: #6b88fe; }

.nav, .pagination, .carousel, .panel-title a, .cloud, #signupButton {
  cursor: pointer; }

nav.navbar {
  background-image: url("../app/images/Small-Block.gif");
  background-size: auto 100%; }

a.navbar-brand, .navbar-nav > li {
  background-image: url("../app/images/EmptyBlockFlat.gif");
  background-size: 100% 100%; }

.navbar-nav > * {
  font-size: 1rem;
  margin-left: 4em;
  padding: 15px; }

div#mapframe {
  background-image: url("../app/images/TitleMenuFrame.jpg");
  background-size: 100% 100%;
  padding: 50px; }

.angular-google-map-container {
  height: 500px;
  margin-left: auto;
  margin-right: auto; }

#content {
  margin-top: 55px; }

.cloud-right {
  float: right; }

.cloud {
  margin: 20px 0; }

pageslide.left-side {
  background-color: #6b88fe;
  background-image: url("../app/images/Flag.gif");
  background-attachment: contain;
  background-position: bottom;
  background-repeat: no-repeat; }

#zip-edit-input {
  width: 110px; }

.edit-profile-select {
  display: block; }

.profile-span {
  display: block; }

#edit-friendcode {
  margin: 10px; }

pageslide.right-side {
  background-color: #6b88fe;
  background-image: url("../app/images/Castle.gif");
  background-attachment: contain;
  background-position: bottom;
  background-repeat: no-repeat; }

.each-message {
  border: 1px solid white;
  border-radius: 5px;
  background-color: #eee;
  margin-bottom: 10px; }

.each-message span {
  font-weight: bold; }

.sidebar-slide {
  margin-top: 75px;
  padding: 15px; }

.questions span {
  font-weight: bold;
  line-height: 1.2rem;
  display: block;
  margin: 5px; }

.modal-content {
  background-color: #0080ff; }

.loginContent {
  background-color: #0080ff;
  width: 80%;
  margin: 20px auto 0;
  text-align: center; }

.loginContent input, form input {
  font-size: 2em;
  height: auto;
  margin-top: 20px; }

#from {
  font-size: 1.5em;
  height: auto;
  margin: 25px 10px;
  width: 370px; }

.loginContent button {
  margin: 0 10px; }

#password {
  margin: 20px 0; }

.loginContent button {
  width: 45%;
  font-size: 1.4em; }

.controlButtons {
  margin: 20px 0 20px 0; }

.loginContent label {
  display: block;
  margin: 10px; }

.loginContent select {
  width: 100%; }

.other-members:first-child {
  border-top: 2px solid black; }

.other-right {
  float: right;
  margin: 24px 0 0 0;
  padding: 0; }

.other-members {
  min-height: 100px;
  padding: 10px;
  border-bottom: 2px solid black; }

.btn-addfriend {
  float: left;
  height: 80px;
  width: 80px;
  margin-right: 25px;
  background-image: url("../app/images/1up.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 1px solid black; }

.btn-addfriend:hover {
  opacity: 0.8; }

.add-friend-div h3 {
  display: inline-block;
  margin-bottom: 20px; }

.add-friend-div span {
  font-weight: bold; }

.add-friend-div > p, .add-friend-div li {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding-right: 10px; }

.other-right > p {
  display: inline-block;
  margin: 0 0 0 20px;
  padding-right: 0; }

.add-friend-div li:not(:last-child) {
  border-right: 1px solid black; }

/*# sourceMappingURL=main.css.map */
